<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-icon card-header-rose">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title ">Servicios</h4>
          </div>
          <div class="card-body">
            <div class="row mb-4">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Fecha Inicial</label>
                  <input type="date" (change)="setFechaInicio($event)" [value]="fecha1" class="form-control" />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>Fecha Final</label>
                  <input type="date" (change)="setFechaFin($event)" [value]="fecha2" class="form-control" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="btn-group">
                  <!-- <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      <span *ngIf="actualEmpleadoNombre">{{actualEmpleadoNombre}}</span>
                      <span *ngIf="!actualEmpleadoNombre">Empleado</span>
                    </button> -->
                  <button type="button" class="btn btn-danger dropdown-toggle" (click)="openEmpleado()">
                    <span *ngIf="actualEmpleadoNombre">{{actualEmpleadoNombre}}</span>
                    <span *ngIf="!actualEmpleadoNombre">Empleado</span>
                  </button>
                  <!-- <div class="dropdown-menu" style="max-height: 450px; overflow-y: scroll">
                      <a *ngFor="let empleado of empleados" class="dropdown-item"
                        (click)="setEmpleado(empleado)">{{empleado['nombreCompleto']}}</a>
                    </div> -->
                </div>
                <div class="btn-group">
                  <!-- <button style="max-width:150px; overflow-x: hidden;" type="button"
                      class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
                      <span *ngIf="actualClienteNombre">{{actualClienteNombre}}</span>
                      <span *ngIf="!actualClienteNombre">Cliente</span>
                    </button> -->
                  <button type="button" class="btn btn-danger dropdown-toggle" (click)="openPaciente()">
                    <span *ngIf="actualClienteNombre">{{actualClienteNombre}}</span>
                    <span *ngIf="!actualClienteNombre">Cliente</span>
                  </button>
                  <!-- <div class="dropdown-menu" style="max-height: 450px; overflow-y: scroll">
                      <a *ngFor="let paciente of pacientes" class="dropdown-item"
                        (click)="setCliente(paciente)">{{paciente['nombreCompleto']}}</a>
                    </div> -->
                </div>
              </div>
            </div>

            <div class="row mb-4">
              <!--
              <div class="col-md-4">
                <div class="btn-group">
                  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <span *ngIf="actualCategoriaNombre">{{actualCategoriaNombre}}</span>
                    <span *ngIf="!actualCategoriaNombre">Categoria</span>
                  </button>
                  <div class="dropdown-menu" style="max-height: 450px; overflow-y: scroll">
                    <a *ngFor="let categoria of categorias" class="dropdown-item"
                      (click)="setCategoria(categoria)">{{categoria['descripcion']}}</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="btn-group">
                  <button style="max-width:150px; overflow-x: hidden;" type="button"
                    class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <span *ngIf="actualSubcategoriaNombre">{{actualSubcategoriaNombre}}</span>
                    <span *ngIf="!actualSubcategoriaNombre">Subcategoría</span>
                  </button>
                  <div class="dropdown-menu" style="max-height: 450px; overflow-y: scroll">
                    <a *ngFor="let subcat of subcategorias" class="dropdown-item"
                      (click)="setSubcategoria(subcat)">{{subcat['descripcion']}}</a>
                  </div>
                </div>
              </div>
              -->
              <div class="col-md-4">
                <div class="btn-group">
                  <button class="btn btn-success" (click)="buscar()" type="submit">Buscar</button>
                </div>
                <div class="btn-group">
                  <button class="btn btn-primary" (click)="limpiarFiltros()" type="submit">Limpiar</button>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-end">


            </div>


            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <tr>
                    <!--<th (click)="order($event)">Fecha</th>-->
                    <th>Fecha</th>
                    <th>ID Ficha</th>
                    <th>Fecha ficha</th>
                    <th>Profesional</th>
                    <th>Cliente</th>
                    <th>Categoría</th>
                    <th>Subcategoría</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let serv of servicios">
                    <td>{{serv.fechaHora}}</td>
                    <td>{{serv.idFichaClinica.idFichaClinica}}</td>
                    <td>{{serv.idFichaClinica.fechaHora}} </td>
                    <td>{{serv.idEmpleado['nombreCompleto']}}</td>
                    <td>{{serv.idFichaClinica.idCliente['nombreCompleto']}}</td>
                    <td>{{serv.idFichaClinica.idTipoProducto.idCategoria.descripcion}}</td>
                    <td>{{serv.idFichaClinica.idTipoProducto.descripcion }}</td>
                    <td>
                      <span>
                        <a class="btn btn-success btn-sm my-2 my-sm-0"
                          href="#/detalleservicio/{{serv.idServicio}}">Detalles</a>
                      </span>
                      <span>
                        <a class="btn btn-primary btn-sm my-2 my-sm-0"
                          href="#/editor-servicio/{{serv.idServicio}}">Editar</a>
                      </span>
                    </td>

                  </tr>
                </tbody>
              </table>

            </div>
            <div class="row mt-4">
              <div class="col-md-12">
                <button class="btn btn-primary" routerLink="/editor-servicio/">Crear Servicio</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="empleadoModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Seleccionar empleado</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" click="closeEmpleado()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row mb-2">
          <div class="col-md-6">
            <div class="form-group">
              <mat-form-field>
                <input matInput class="form-control" placeholder="Nombre" [(ngModel)]="empNombre">
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <mat-form-field>
                <input matInput class="form-control" placeholder="Apellido" [(ngModel)]="empApellido">
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="btn-group">
          <button class="btn btn-success" (click)="buscarEmpleado()" type="submit">Buscar</button>
        </div>
        <mat-nav-list>
          <mat-list-item *ngFor="let empleado of empleados" (click)="selectEmpleado(empleado)">
            {{ empleado["nombreCompleto"] }}</mat-list-item>
        </mat-nav-list>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeEmpleado()">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Buscar Paciente -->

<div class="modal fade" id="pacienteModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Seleccionar cliente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" click="closePaciente()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row mb-2">
          <div class="col-md-6">
            <div class="form-group">
              <mat-form-field>
                <input matInput class="form-control" placeholder="Nombre" [(ngModel)]="pacNombre">
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <mat-form-field>
                <input matInput class="form-control" placeholder="Apellido" [(ngModel)]="pacApellido">
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="btn-group">
          <button class="btn btn-success" (click)="buscarPaciente()" type="submit">Buscar</button>
        </div>
        <mat-nav-list style="max-height: 300px; overflow-y: scroll">
          <mat-list-item *ngFor="let paciente of pacientes" (click)="selectPaciente(paciente)">
            {{ paciente["nombreCompleto"] }}</mat-list-item>
        </mat-nav-list>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closePaciente()">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>