<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">assignment</i>
                  </div>
                  <h4 class="card-title">Administracion de Pacientes</h4>
                </div>
                  <div class="card-body">
                      <div class="toolbar">
                          <!--        Here you can write extra buttons/actions for the toolbar              -->
                      </div>
                      <div class="material-datatables">
                        <div class="dataTables_wrapper dt-bootstrap4">
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-paginator [length]="count"
                                        [pageSize]="pageSize"
                                        [pageSizeOptions]="pageSizeOptions"
                                        (page)="get_page($event)">
                                        
                                    </mat-paginator>
                                    <mat-checkbox [(ngModel)] = "usuarioSistema" (change)="getData()">Solo Fisioterapeutas</mat-checkbox>
                                    
                                </div>
                               <!--  <button (click)="probar()"></button> -->
                                <div class="col-md-4">
                                  <form class="form-inline">
                                      
                                      <input class="form-control mr-sm-2" type="search" [(ngModel)]='nombre' placeholder="Search" aria-label="Search" name="nombre">
                                      <button class="btn btn-primary my-2 my-sm-0" (click)="searchByName ()" type="submit">Search</button>
                                    </form>
                                    <div class="d-flex flex-column">
                                        <mat-checkbox [(ngModel)] = "busquedaExacta">Busqueda Exacta</mat-checkbox>
                                       
                                    </div>
                                    
                              </div>
                              <div class="col-md-4">                                    
                                <button type="button" class="btn btn-primary" 
                                        data-toggle="modal" data-target="#addModal">
                                        <i class="material-icons">
                                            add_circle_outline
                                        </i>
                                        Agregar Paciente
                                    </button>                                
                            </div>
                            </div>
                            <div class="table-responsive">
                            <table id="datatables" class="table table-striped table-no-bordered table-hover dataTable" cellspacing="0" width="100%" style="width:100%">
                                <thead>
                                    <tr>
                                        <th *ngFor="let head of columns" (click)="sortBy(head.value)"
                                            
                                            [class]="'sorting' + (
                                                head.value == orderBy && orderDir == 'asc' 
                                                ? '_asc'
                                                : head.value == orderBy && orderDir == 'desc'
                                                    ?  '_desc'
                                                    : '')">
                                            {{ head.label }}
                                        </th>
                                        <th class="disabled-sorting text-right">Acciones</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th *ngFor="let foot of columns">
                                            {{ foot.label}}
                                        </th>
                                        <th class="text-right">Acciones</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr *ngFor="let row of data; let i = index">
                                        <td *ngFor="let col of columns">
                                            {{ row[col.value]}}
                                        </td>
                                        <td class="text-right">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-light btn-sm" (click)="openEdit(row)">
                                                    <i class="material-icons">
                                                        edit
                                                    </i>
                                                    Editar
                                                </button>
                                                <button type="button" class="btn btn-danger btn-sm" (click)="openDelete(row)">
                                                    <i class="material-icons">
                                                        delete
                                                    </i>
                                                    Borrar
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            </div>
                      </div>
                    </div>
                  </div>
                  <!-- end content-->
              </div>
              <!--  end card  -->
          </div>
          <!-- end col-md-12 -->
      </div>
      <!-- end row -->
  </div>
  
</div>


<div class="modal fade" id="addModal" tabindex="-1" 
  role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar paciente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" click="closeAdd(false)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
            <form [formGroup] ='forma' >
                <input class="form-control" type="text" placeholder="Nombre" formControlName='nombre'  >
                <input class="form-control " type="text" placeholder="Apellido" formControlName='apellido'  >
                <input class="form-control " type="email" placeholder="Correo Electrónico" formControlName='email'  >
                <input class="form-control " type="number" placeholder="RUC" formControlName='ruc'  >
                <input class="form-control " type="number" placeholder="Telefono" formControlName='telefono'  >
                <input class="form-control " type="number" placeholder="C.I" formControlName='cedula'  >
                <input type="date" (change)="setFechaNacimiento($event)"   class="form-control" />        
            </form>
            
          </div>
     
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeAdd(false)">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="closeAdd(true)" 
        [disabled]='!forma.valid' >Guardar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="deleteModal" tabindex="-1"
  role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Borrar Paciente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" click="closeDelete(false)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
            Esta seguro que desea borrar al usuario {{delete_paciente.nombre  }}  {{delete_paciente.apellido}}
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeDelete(false)">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="closeDelete(true)">Borrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" 
  role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar Paciente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" click="closeAdd(false)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
            <form [formGroup] ='forma' >
                <input class="form-control" type="text" placeholder="Nombre" formControlName='nombre'  >
                <input class="form-control " type="text" placeholder="Apellido" formControlName='apellido'  >
                <input class="form-control " type="email" placeholder="Correo Electrónico" formControlName='email'  >
                <input class="form-control " type="number" placeholder="RUC" formControlName='ruc'  >
                <input class="form-control " type="number" placeholder="Telefono" formControlName='telefono'  >
                <input class="form-control " type="number" placeholder="C.I" formControlName='cedula'  >
                <!-- <input type="date" (change)="setFechaNacimiento($event)"   class="form-control" />  -->       
            </form>
            
          </div>
     
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeEdit(false)">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="closeEdit(true)" 
        [disabled]='!forma.valid' >Guardar</button>
      </div>
    </div>
  </div>
</div>








 













  

















































































<!-- 
<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-icon card-header-rose">
                  <div class="card-icon">
                    <i class="material-icons">assignment</i>
                  </div>
                  <h4 class="card-title ">Pacientes de la Clinica</h4>
                </div>
                  <div class="card-body">
                    <div class ="row">
                      <div class="col-md-8">
                          <div class="btn-group">
                              <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Ordenado por
                              </button>
                              <div class="dropdown-menu">
                                <a class="dropdown-item" (click)="ordenadoPor('nombre')" >Nombre</a>
                                <a class="dropdown-item" (click)="ordenadoPor('apellido')" >Apellido</a>
                                
                              </div>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                 En direccion
                                </button>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" (click)="ordenDireccion('asc')" >Ascendente</a>
                                  <a class="dropdown-item" (click)="ordenDireccion('desc')" >Descendente</a>
                                </div>
                              </div>
                      </div>
                      <div class="col-md-4">
                          <form class="form-inline">
                              <input class="form-control mr-sm-2" type="search" [(ngModel)]='nombre' placeholder="Search" aria-label="Search" name="nombre">
                              <button class="btn btn-outline-success my-2 my-sm-0" (click)="buscarNombre()" type="submit">Search</button>
                            </form>
                      </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        
                            
                    </div>
                     
                         
                      <div class="table-responsive">
                        <table class="table">
                                <thead class="text-primary">
                                    <tr>
                                      <th *ngFor="let cell of tableData1.headerRow" (click)="order($event)">{{ cell }}</th>
                                    </tr>
                                </thead>
                              <tbody>
                                  <tr *ngFor="let row of tableData1.dataRows">
                                      <td>{{row.idPersona}}</td>
                                      <td>{{row.nombre}}</td>
                                      <td>{{row.apellido}}</td>
                                      <td>{{row.telefono}}</td>
                                      <td>{{row.email}}</td>
                                      <td>{{row.ruc}}</td>
                                      <td>{{row.cedula}}</td>
                                      <td>{{row.tipoPersona}}</td>
                                      <td>{{row.fechaNacimiento}}</td>
                                      
                                     

                                  </tr>
                              </tbody>
                        </table>

                      </div>
                  </div>
              </div>
             
          </div>
      </div>
  </div>
</div>
 -->