<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-icon card-header-rose">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title ">Horario de excepciones</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-8">
                <mat-paginator [length]="count" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                  (page)="get_page($event)">
                </mat-paginator>
              </div>
              <div class="col-md-4">
                <div class="btn-group">
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">
                    <i class="material-icons">
                      add_circle_outline
                    </i>
                    Agregar Excepción
                  </button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-9">
                <div class="btn-group">
                  <!-- <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Filtrar por día
                      </button> -->
                  <form class="form-inline">
                    <!-- <input class="form-control mr-sm-2" type="search" [(ngModel)]='empleado'
                      placeholder="Inserte el ID del Doctor" aria-label="Search" name="empleado"> -->
                    <button type="button" class="btn btn-danger dropdown-toggle" (click)="openEmpleado()">
                      <span *ngIf="empleado">{{empleadoNombre}}</span>
                      <span *ngIf="!empleado">Filtrar por Empleado</span>
                    </button>
                  </form>
                  <form class="form-inline" style="margin-left: 10px">
                    <!-- <input class="form-control mr-sm-2" type="date" [(ngModel)]='fecha' placeholder="Inserte la fecha"
                          aria-label="Search" name="fecha"> -->
                    <input class="form-control mr-sm-2" [matDatepicker]="picker" name="fecha" [(ngModel)]='fecha'
                      placeholder="Buscar por fecha" (click)="picker.open()">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <button class="btn btn-outline-success my-2 my-sm-0" (click)="filtrar()"
                      type="submit">Buscar</button>
                    <div class="btn-group">
                      <button class="btn btn-primary" (click)="limpiarFiltros()" type="submit">Limpiar</button>
                    </div>
                  </form>
                </div>
              </div>

            </div>
            <div class="d-flex justify-content-end">


            </div>


            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <tr>
                    <th *ngFor="let cell of tableData1.headerRow" class="btn-link" style="cursor: pointer"
                      (click)="ordernar($event.target['textContent'])">
                      {{ cell }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of tableData1.dataRows">
                    <td>{{row.idHorarioExcepcion}}</td>
                    <td>{{row.fecha}}</td>
                    <td>{{row.horaApertura}}</td>
                    <td>{{row.horaCierre}}</td>
                    <td>{{row.idLocal.nombre}}</td>
                    <td>{{row.idEmpleado.idPersona}}</td>
                    <td>{{row.idEmpleado.nombreCompleto}}</td>
                    <td>{{row.flagEsHabilitar}}</td>
                    <td>
                      <div class="btn-group">
                        <button type="button" class="btn btn-light btn-sm" (click)="openEdit(row)">
                          <i class="material-icons">
                            edit
                          </i>
                          Editar
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" (click)="openDelete(row)">
                          <i class="material-icons">
                            delete
                          </i>
                          Borrar
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar horario de excepción</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" click="closeAdd(false)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <mat-form-field>
            <input matInput [matDatepicker]="picker2" placeholder="Fecha" [(ngModel)]="nueva_excepcion.fechaCadena"
              (click)="picker2.open()">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="form-group">
          <!-- <input class="form-control" placeholder="¿Está habilitado?" [(ngModel)]="nueva_excepcion.flagEsHabilitar"> -->
          <mat-form-field>
            <mat-select placeholder="¿Está habilitado?" [(ngModel)]="nueva_excepcion.flagEsHabilitar">
              <mat-option value="S">Sí</mat-option>
              <mat-option value="N">No</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <input [disabled]='nueva_excepcion.flagEsHabilitar !== "S"' matInput type="time"
              placeholder="Horario de apertura" [(ngModel)]="nueva_excepcion.horaAperturaCadena"
              pattern="[0-9]{2}:[0-9]{2}">
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <input [disabled]='nueva_excepcion.flagEsHabilitar !== "S"' matInput type="time"
              placeholder="Horario de cierre" [(ngModel)]="nueva_excepcion.horaCierreCadena"
              pattern="[0-9]{2}:[0-9]{2}">
          </mat-form-field>
        </div>
        <div class="form-group">
          <!-- <mat-form-field>
            <mat-select placeholder="Empleado" [(ngModel)]="nueva_excepcion.idEmpleado.idPersona">
              <mat-option *ngFor="let empleado of empleados" [value]="empleado.idPersona">{{empleado.idPersona}}.
                {{empleado.nombreCompleto}}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
          <!-- <input class="form-control mr-sm-2" type="search" [(ngModel)]='empleado'
                placeholder="Inserte el ID del Doctor" aria-label="Search" name="empleado"> -->
          <button type="button" class="btn btn-danger dropdown-toggle" (click)="openEmpleado2()">
            <span *ngIf="nueva_excepcion.idEmpleado.idPersona">{{empNuevo}}</span>
            <span *ngIf="!nueva_excepcion.idEmpleado.idPersona">Seleccione Empleado</span>
          </button>
        </div>
        <div class="form-group">
          <mat-form-field>
            <input [disabled]='nueva_excepcion.flagEsHabilitar !== "S"' matInput type="number"
              placeholder="Intérvalo minutos" [(ngModel)]="nueva_excepcion.intervaloMinutos">
          </mat-form-field>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeAdd(false)">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="closeAdd(true)" [disabled]="nueva_excepcion.fechaCadena == null || nueva_excepcion.fechaCadena.length == 0 ||
            nueva_excepcion.idEmpleado.idPersona == null || nueva_excepcion.idEmpleado.idPersona.length == 0 ||
            nueva_excepcion.flagEsHabilitar == null || nueva_excepcion.flagEsHabilitar.length == 0">Guardar
          Cambios</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar horario de excepción {{edit_excepcion.idHorarioExcepcion}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" click="closeEdit(false)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <mat-form-field>
            <input matInput [matDatepicker]="picker3" placeholder="Fecha" [(ngModel)]="edit_excepcion.fechaCadena"
              (click)="picker3.open()">
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="form-group">
          <!-- <input class="form-control" placeholder="¿Está habilitado?" [(ngModel)]="edit_excepcion.flagEsHabilitar"> -->
          <mat-form-field>
            <mat-select placeholder="¿Está habilitado?" [(ngModel)]="edit_excepcion.flagEsHabilitar">
              <mat-option value="S">Sí</mat-option>
              <mat-option value="N">No</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <input [disabled]='edit_excepcion.flagEsHabilitar !== "S"' matInput type="time"
              placeholder="Horario de apertura" [(ngModel)]="edit_excepcion.horaAperturaCadena"
              pattern="[0-9]{2}:[0-9]{2}">
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <input [disabled]='edit_excepcion.flagEsHabilitar !== "S"' matInput type="time"
              placeholder="Horario de cierre" [(ngModel)]="edit_excepcion.horaCierreCadena" pattern="[0-9]{2}:[0-9]{2}">
          </mat-form-field>
        </div>
        <div class="form-group">
          <!-- <mat-form-field> -->
          <!-- <input matInput type="number" placeholder="ID del empleado"
                [(ngModel)]="edit_excepcion.idEmpleado.idPersona"> -->
          <!-- <mat-select placeholder="Empleado" [(ngModel)]="edit_excepcion.idEmpleado.idPersona">
              <mat-option *ngFor="let empleado of empleados" [value]="empleado.idPersona">{{empleado.idPersona}}.
                {{empleado.nombreCompleto}}
              </mat-option>
            </mat-select> -->
          <!-- </mat-form-field> -->
          <button type="button" class="btn btn-danger dropdown-toggle" (click)="openEmpleado3()">
            <span *ngIf="edit_excepcion.idEmpleado.idPersona">{{empEdit}}</span>
            <span *ngIf="!edit_excepcion.idEmpleado.idPersona">Seleccione Empleado</span>
          </button>
        </div>
        <div class="form-group">
          <mat-form-field>
            <input [disabled]='edit_excepcion.flagEsHabilitar !== "S"' matInput type="number"
              placeholder="Intérvalo minutos" [(ngModel)]="edit_excepcion.intervaloMinutos">
          </mat-form-field>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeEdit(false)">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="closeEdit(true)" [disabled]="edit_excepcion.fechaCadena == null || edit_excepcion.fechaCadena.length == 0 ||
            edit_excepcion.idEmpleado.idPersona == null || edit_excepcion.idEmpleado.idPersona.length == 0 ||
            edit_excepcion.flagEsHabilitar == null || edit_excepcion.flagEsHabilitar.length == 0">Guardar
          Cambios</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Borrar horario de excepción</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" click="closeDelete(false)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          ¿Está seguro de querer borrar el horario de excepción {{delete_excepcion.idHorarioExcepcion}}?
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeDelete(false)">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="closeDelete(true)">Borrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Buscar empleado -->

<div class="modal fade" id="empleadoModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Seleccionar empleado</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" click="closeEmpleado()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row mb-2">
          <div class="col-md-6">
            <div class="form-group">
              <mat-form-field>
                <input matInput class="form-control" placeholder="Nombre" [(ngModel)]="empNombre">
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <mat-form-field>
                <input matInput class="form-control" placeholder="Apellido" [(ngModel)]="empApellido">
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="btn-group">
          <button class="btn btn-success" (click)="buscarEmpleadoModal()" type="submit">Buscar</button>
        </div>
        <mat-nav-list>
          <mat-list-item *ngFor="let empleado of empleados" (click)="selectEmpleado(empleado)">
            {{ empleado["nombreCompleto"] }}</mat-list-item>
        </mat-nav-list>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeEmpleado()">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Buscar empleado para nuevo -->

<div class="modal fade" id="empleadoModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Seleccionar empleado</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" click="closeEmpleado2()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row mb-2">
          <div class="col-md-6">
            <div class="form-group">
              <mat-form-field>
                <input matInput class="form-control" placeholder="Nombre" [(ngModel)]="empNombre">
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <mat-form-field>
                <input matInput class="form-control" placeholder="Apellido" [(ngModel)]="empApellido">
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="btn-group">
          <button class="btn btn-success" (click)="buscarEmpleadoModal()" type="submit">Buscar</button>
        </div>
        <mat-nav-list>
          <mat-list-item *ngFor="let empleado of empleados" (click)="selectEmpleado2(empleado)">
            {{ empleado["nombreCompleto"] }}</mat-list-item>
        </mat-nav-list>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeEmpleado2()">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Buscar empleado para edit -->

<div class="modal fade" id="empleadoModal3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Seleccionar empleado</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" click="closeEmpleado3()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row mb-2">
          <div class="col-md-6">
            <div class="form-group">
              <mat-form-field>
                <input matInput class="form-control" placeholder="Nombre" [(ngModel)]="empNombre">
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <mat-form-field>
                <input matInput class="form-control" placeholder="Apellido" [(ngModel)]="empApellido">
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="btn-group">
          <button class="btn btn-success" (click)="buscarEmpleadoModal()" type="submit">Buscar</button>
        </div>
        <mat-nav-list>
          <mat-list-item *ngFor="let empleado of empleados" (click)="selectEmpleado3(empleado)">
            {{ empleado["nombreCompleto"] }}</mat-list-item>
        </mat-nav-list>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeEmpleado3()">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>