<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-icon card-header-rose">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title ">Administracion de Fichas Medicas</h4>
          </div>
          <div class="card-body">
            <div class="row mb-4">
              <div class="col-md-3">
                <div class="form-group">
                  <label>Fecha Inicial</label>
                  <input
                    type="date"
                    (change)="setFechaInicio($event)"
                    [value]="fecha1"
                    class="form-control"
                  />
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label>Fecha Final</label>
                  <input
                    type="date"
                    (change)="setFechaFin($event)"
                    [value]="fecha2"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn  btn-outline-primary dropdown-toggle"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <span *ngIf="actualEmpleadoNombre">{{
                      actualEmpleadoNombre
                    }}</span>
                    <span *ngIf="!actualEmpleadoNombre">Empleado</span>
                  </button>
                  <div
                    class="dropdown-menu"
                    style="max-height: 450px; overflow-y: scroll"
                  >
                    <a
                      *ngFor="let empleado of empleados"
                      class="dropdown-item"
                      (click)="setEmpleado(empleado)"
                      >{{ empleado["nombreCompleto"] }}</a
                    >
                  </div>
                </div>
                  <div class="btn-group">
                  <button
                  type="button"
                  class="btn btn-outline-primary dropdown-toggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <span *ngIf="actualCategoriaDescripcion">{{
                    actualCategoriaDescripcion
                  }}</span>
                  <span *ngIf="!actualCategoriaDescripcion"
                    >Categoria</span
                  >
                </button>
                <div
                  class="dropdown-menu"
                  style="max-height: 450px; overflow-y: scroll"
                >
                  <a
                    *ngFor="let categoria of categorias"
                    class="dropdown-item"
                    (click)="setCategoriaForm(categoria)"
                    >{{ categoria["descripcion"] }}</a
                  >
                </div>
                </div>
                <div class="btn-group">
                  <button
                    style="max-width:150px; overflow-x: hidden;"
                    type="button"
                    class="btn  btn-outline-primary dropdown-toggle"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <span *ngIf="actualClienteNombre">{{
                      actualClienteNombre
                    }}</span>
                    <span *ngIf="!actualClienteNombre">Cliente</span>
                  </button>
                  <div
                    class="dropdown-menu"
                    style="max-height: 450px; overflow-y: scroll"
                  >
                    <a
                      *ngFor="let paciente of pacientes"
                      class="dropdown-item"
                      (click)="setCliente(paciente)"
                      >{{ paciente["nombreCompleto"] }}</a
                    >
                  </div>
                </div>
                <div class="btn-group">
                  <button
                  style="max-width:150px; overflow-x: hidden;"
                  type="button"
                  class="btn btn btn-outline-primary dropdown-toggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <span *ngIf="actualSubCategoriaDescripcion">{{
                    actualSubCategoriaDescripcion
                  }}</span>
                  <span *ngIf="!actualSubCategoriaDescripcion"
                    >Subcategoria</span
                  >
                </button>
                <div
                  class="dropdown-menu"
                  style="max-height: 450px; overflow-y: scroll"
                >
                  <a
                    *ngFor="let subCategoria of subcategorias"
                    class="dropdown-item"
                    (click)="setSubcategoriaForm(subCategoria)"
                    >{{ subCategoria["descripcion"] }}</a
                  >
                </div>
                </div>
              </div>
            </div>

            <div class="row mb-4">
              <!-- alternativa con buscador (rompebolas, mejor un dropbar)
              <div class="col-md-6">
                <form class="form-inline">
                  <input class="form-control mr-sm-2" type="search" [(ngModel)]='empleado' placeholder="Empleado"
                    aria-label="Search" name="empleado">
                  <button class="btn btn-outline-primary my-2 my-sm-0" (click)="buscarEmpleado()"
                    type="submit">Buscar</button>
                </form>
              </div>
              <div class="col-md-6">
                <form class="form-inline">
                  <input class="form-control mr-sm-2" type="search" [(ngModel)]='cliente' placeholder="Cliente"
                    aria-label="Search" name="cliente">
                  <button class="btn btn-outline-primary my-2 my-sm-0" (click)="buscarCliente()"
                    type="submit">Buscar</button>
                </form>
              </div>-->

              <div class="col-md-6">
                <div class="btn-group">
                  <button
                    class="btn btn-success"
                    (click)="buscar()"
                    type="submit"
                  >
                    Buscar
                  </button>
                </div>
                <div class="btn-group">
                  <button
                    class="btn btn-primary"
                    (click)="limpiarFiltros()"
                    type="submit"
                  >
                    Limpiar
                  </button>
                </div>
              </div>
              <div class="col-md-6 text-right">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#addModal"
                  >
                    <i class="material-icons">
                      add_circle_outline
                    </i>
                    Agregar Ficha
                  </button>
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-end">
              <div class="table-responsive">
                <table
                  id="datatables"
                  class="table table-striped table-no-bordered table-hover dataTable"
                  cellspacing="0"
                  width="100%"
                  style="width:100%"
                >
                  <thead>
                    <tr>
                      <th
                        *ngFor="let head of columns"
                        (click)="sortBy(head.value)"
                        [class]="
                          'sorting' +
                          (head.value == orderBy && orderDir == 'asc'
                            ? '_asc'
                            : head.value == orderBy && orderDir == 'desc'
                            ? '_desc'
                            : '')
                        "
                      >
                        {{ head.label }}
                      </th>
                      <th class="disabled-sorting text-right">Acciones</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th *ngFor="let foot of columns">
                        {{ foot.label }}
                      </th>
                      <th class="text-right">Acciones</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr *ngFor="let row of data; let i = index">
                      <td *ngFor="let col of columns">
                        <span *ngIf="col.value2 && col.value && col.value3"
                          >{{ row[col.value][col.value2][col.value3] }}
                        </span>
                        <span *ngIf="col.value2 && col.value && !col.value3"
                          >{{ row[col.value][col.value2] }}
                        </span>
                        <span *ngIf="col.value && !col.value2"
                          >{{ row[col.value] }}
                        </span>
                      </td>
                      <td class="text-right">
                        <div class="btn-group">
                            <button
                            type="button"
                            class="btn btn-outline-primary btn-sm m-1"
                            (click)="openDetalle(row)"
                          >
                            <!-- <i class="material-icons">
                              edit
                            </i> -->
                           Ver
                          </button>
                          <button
                            type="button"
                            class="btn btn-outline-primary btn-sm"
                            (click)="openEdit(row)"
                          >
                            <!-- <i class="material-icons">
                              edit
                            </i> -->
                           Modificar
                          </button>
                          <button
                            type="button"
                            class="btn btn-light btn-sm"
                            (click)="openCrear(row)"
                          >
                            <i class="material-icons">
                              edit
                            </i>
                            Crear Servicio
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

           
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 
 -->




<!-- Agregar ficha clinica -->

 <div
 class="modal fade"
 id="addModal"
 tabindex="-1"
 role="dialog"
 aria-hidden="true"
>
 <div class="modal-dialog modal-dialog" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <h5 class="modal-title">Nueva ficha medica</h5>
       <button
         type="button"
         class="close"
         data-dismiss="modal"
         aria-label="Close"
         click="closeAdd(false)"
       >
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">
       <form [formGroup]="forma">
         <div class="row">
           <div class="col-md-6">
             <!-- <input
               type="date"
               (change)="setFechaReserva($event)"
               class="form-control"
             /> -->
           </div>
         </div>

         <div class="row">
           <div class="col-md-6">
             <div class="btn-group">
               <button
                 type="button"
                 class="btn btn-outline-primary  dropdown-toggle"
                 data-toggle="dropdown"
                 aria-haspopup="true"
                 aria-expanded="false"
               >
                 <span *ngIf="actualEmpleadoNombreForm">{{
                   actualEmpleadoNombreForm
                 }}</span>
                 <span *ngIf="!actualEmpleadoNombreForm"
                   >Empleado</span
                 >
               </button>
               <div
                 class="dropdown-menu"
                 style="max-height: 450px; overflow-y: scroll"
               >
                 <a
                   *ngFor="let empleado of empleados"
                   class="dropdown-item"
                   (click)="setEmpleadoForm(empleado)"
                   >{{ empleado["nombreCompleto"] }}</a
                 >
               </div>
             </div>
           </div>
           <div class="col-md-6">
             <div class="btn-group">
               <button
                 style="max-width:150px; overflow-x: hidden;"
                 type="button"
                 class="btn btn btn-outline-primary dropdown-toggle"
                 data-toggle="dropdown"
                 aria-haspopup="true"
                 aria-expanded="false"
               >
                 <span *ngIf="actualClienteNombreForm">{{
                   actualClienteNombreForm
                 }}</span>
                 <span *ngIf="!actualClienteNombreForm">Cliente</span>
               </button>
               <div
                 class="dropdown-menu"
                 style="max-height: 450px; overflow-y: scroll"
               >
                 <a
                   *ngFor="let paciente of pacientes"
                   class="dropdown-item"
                   (click)="setClienteForm(paciente)"
                   >{{ paciente["nombreCompleto"] }}</a
                 >
               </div>
             </div>
           </div>
         </div>
         <div class="row">
           <div class="col-md-6">
             <div class="btn-group">
               <button
                 type="button"
                 class="btn btn-outline-primary dropdown-toggle"
                 data-toggle="dropdown"
                 aria-haspopup="true"
                 aria-expanded="false"
               >
                 <span *ngIf="actualCategoriaDescripcion">{{
                   actualCategoriaDescripcion
                 }}</span>
                 <span *ngIf="!actualCategoriaDescripcion"
                   >Categoria</span
                 >
               </button>
               <div
                 class="dropdown-menu"
                 style="max-height: 450px; overflow-y: scroll"
               >
                 <a
                   *ngFor="let categoria of categorias"
                   class="dropdown-item"
                   (click)="setCategoriaForm(categoria)"
                   >{{ categoria["descripcion"] }}</a
                 >
               </div>
             </div>
           </div>
           <div class="col-md-6">
             <div class="btn-group">
               <button
                 style="max-width:150px; overflow-x: hidden;"
                 type="button"
                 class="btn btn btn-outline-primary dropdown-toggle"
                 data-toggle="dropdown"
                 aria-haspopup="true"
                 aria-expanded="false"
               >
                 <span *ngIf="actualSubCategoriaDescripcion">{{
                   actualSubCategoriaDescripcion
                 }}</span>
                 <span *ngIf="!actualSubCategoriaDescripcion"
                   >Subcategoria</span
                 >
               </button>
               <div
                 class="dropdown-menu"
                 style="max-height: 450px; overflow-y: scroll"
               >
                 <a
                   *ngFor="let subCategoria of subcategorias"
                   class="dropdown-item"
                   (click)="setSubcategoriaForm(subCategoria)"
                   >{{ subCategoria["descripcion"] }}</a
                 >
               </div>
             </div>
           </div>
           <!-- <input class="form-control" type="text" placeholder="Nombre" formControlName='nombre'  > -->
         </div>

         <div class="row">
           <div class="col-md-12">
             <div class="input-group">
               <div class="input-group-prepend">
                 <span class="input-group-text">Motivo</span>
               </div>
               <textarea
                 class="form-control"
                 aria-label="With textarea"
                 formControlName="motivoConsulta"
               ></textarea>
             </div>
           </div>
         </div>
         <div class="row">
           <div class="col-md-12">
             <div class="input-group">
               <div class="input-group-prepend">
                 <span class="input-group-text">Diagnostico</span>
               </div>
               <textarea
                 class="form-control"
                 aria-label="With textarea"
                 formControlName="diagnostico"
               ></textarea>
             </div>
             <div class="input-group">
               <div class="input-group-prepend">
                 <span class="input-group-text">Observacion</span>
               </div>
               <textarea
                 class="form-control"
                 aria-label="With textarea"
                 formControlName="observacion"
               ></textarea>
             </div>
           </div>
         </div>
       </form>
     </div>

     <div class="modal-footer">
       <button
         type="button"
         class="btn btn-secondary"
         (click)="closeAdd(false)"
       >
         Cerrar
       </button>
       <button
         type="button"
         class="btn btn-primary"
         (click)="closeAdd(true)"
         [disabled]="!forma.valid"
       >
         Guardar
       </button>
     </div>
   </div>
 </div>
</div>
<!-- Modal Ver ficha -->

 <div
 class="modal fade"
 id="verModal"
 tabindex="-1"
 role="dialog"
 aria-hidden="true"
>
 <div class="modal-dialog modal-dialog" role="document">
   <div *ngIf="verDetalle" class="modal-content">
     <div class="modal-header">
       <h5 class="modal-title" >Ficha Clinica: {{ verDetalle.idFichaClinica}}</h5>
       <button
         type="button"
         class="close"
         data-dismiss="modal"
         aria-label="Close"
         click="closeDetalle(false)"
       >
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">
       <form [formGroup]="forma">
         <div class="row">
           <div class="col-md-6">
             <!-- <input
               type="date"
               (change)="setFechaReserva($event)"
               class="form-control"
             /> -->
           </div>
         </div>

       


         <div class="row">
           <div class="col-md-12">
              <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Cliente</span>
                  </div>
                  <input
                    class="form-control"
                    
                    [disabled]="true"
                    [value] = "verDetalle.idCliente.nombreCompleto"
   
                  >
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Empleado</span>
                    </div>
                    <input
                      class="form-control"
                      
                      [disabled]="true"
                      [value] = "verDetalle.idEmpleado.nombreCompleto"
     
                    >
                  </div>
                  <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Categoria</span>
                      </div>
                      <input
                        class="form-control"
                        
                        [disabled]="true"
                        [value] = "verDetalle.idTipoProducto.idCategoria.descripcion"
       
                      >
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Subcategoria</span>
                        </div>
                        <input
                          class="form-control"
                          
                          [disabled]="true"
                          [value] = "verDetalle.idTipoProducto.descripcion"
         
                        >
                      </div>
              <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Fecha-hora</span>
                  </div>
                  <input
                    class="form-control"
                    
                    [disabled]="true"
                    [value] = "verDetalle.fechaHora"
   
                  >
                </div>
             <div class="input-group">
               <div class="input-group-prepend">
                 <span class="input-group-text">Motivo</span>
               </div>
               <textarea
                 class="form-control"
                 aria-label="With textarea"
                 [disabled]="true"
                 [value] = "verDetalle.motivoConsulta"

               ></textarea>
             </div>
           </div>
         </div>
         <div class="row">
           <div class="col-md-12">
             <div class="input-group">
               <div class="input-group-prepend">
                 <span class="input-group-text">Diagnostico</span>
               </div>
               <textarea
                 class="form-control"
                 aria-label="With textarea"
                 [disabled]="true"
                 [value]="verDetalle.diagnostico"
               ></textarea>
             </div>
             <div class="input-group">
               <div class="input-group-prepend">
                 <span class="input-group-text">Observacion</span>
               </div>
               <textarea
                 class="form-control"
                 aria-label="With textarea"
                 [disabled]="true"
                 [value]="verDetalle.observacion"
               ></textarea>
             </div>
           </div>
         </div>
       </form>
     </div>

     <div class="modal-footer">
       <button
         type="button"
         class="btn btn-secondary"
         (click)="closeDetalle(false)"
       >
         Cerrar
       </button>
      
     </div>
   </div>
 </div>
</div>








<!-- Editar modal -->



<div
class="modal fade"
id="editarModal"
tabindex="-1"
role="dialog"
aria-hidden="true"
>
<div class="modal-dialog modal-dialog" role="document">
  <div *ngIf="verDetalle" class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Ficha Clinica: {{ verDetalle.idFichaClinica}}</h5>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
        click="closeDetalle(false)"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      
        <div class="row">
          <div class="col-md-6">
            <!-- <input
              type="date"
              (change)="setFechaReserva($event)"
              class="form-control"
            /> -->
          </div>
        </div>

      


        <div class="row">
          <div class="col-md-12">
             <div class="input-group">
                 <div class="input-group-prepend">
                   <span class="input-group-text">Cliente</span>
                 </div>
                 <input
                   class="form-control"
                   
                   [disabled]="true"
                   [value] = "verDetalle.idCliente.nombreCompleto"
  
                 >
               </div>
               <div class="input-group">
                   <div class="input-group-prepend">
                     <span class="input-group-text">Empleado</span>
                   </div>
                   <input
                     class="form-control"
                     
                     [disabled]="true"
                     [value] = "verDetalle.idEmpleado.nombreCompleto"
    
                   >
                 </div>
                 <div class="input-group">
                     <div class="input-group-prepend">
                       <span class="input-group-text">Categoria</span>
                     </div>
                     <input
                       class="form-control"
                       
                       [disabled]="true"
                       [value] = "verDetalle.idTipoProducto.idCategoria.descripcion"
      
                     >
                   </div>
                   <div class="input-group">
                       <div class="input-group-prepend">
                         <span class="input-group-text">Subcategoria</span>
                       </div>
                       <input
                         class="form-control"
                         
                         [disabled]="true"
                         [value] = "verDetalle.idTipoProducto.descripcion"
        
                       >
                     </div>
             <div class="input-group">
                 <div class="input-group-prepend">
                   <span class="input-group-text">Fecha-hora</span>
                 </div>
                 <input
                   class="form-control"
                   
                   [disabled]="true"
                   [value] = "verDetalle.fechaHora"
  
                 >
               </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Motivo</span>
              </div>
              <textarea
                class="form-control"
                aria-label="With textarea"
                [disabled]="true"
                [value] = "verDetalle.motivoConsulta"

              ></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Diagnostico</span>
              </div>
              <textarea
                class="form-control"
                aria-label="With textarea"
                [disabled]="true"
                [value]="verDetalle.diagnostico"
              ></textarea>
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Observacion</span>
              </div>
              <textarea
              [(ngModel)]="observacion"
                class="form-control"
                aria-label="With textarea"
                
                
              ></textarea>
            </div>
          </div>
        </div>
     
    </div>

    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary"
        (click)="closeDetalle(false)"
      >
        Cerrar
      </button>
      <button
        type="button"
        [disabled]="!observacion"
        class="btn btn-outline-primary"
        (click)="closeEdit(true)"
      >
        Guardar
      </button>
     
    </div>
  </div>
</div>
</div>
